@charset "UTF-8";
/*css読み込み*/
@import "tw_cms";  

/*初期設定*/
*{
	margin: 0;
	padding: 0;
	font-family: "メイリオ", Meiryo, "KozGoPro-Light", "小塚ゴシック Pro L", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, sans-serif;
}
/* margin,padding */
$i: 100;
@while $i > 0 {
	.mt_#{$i} {
		margin-top: #{$i}px
	}
	.mb_#{$i} {
		margin-bottom: #{$i}px
	}
	.ml_#{$i} {
		margin-left: #{$i}px
	}
	.mr_#{$i} {
		margin-right: #{$i}px
	}
	.ma_#{$i} {
		margin: #{$i}px
	}
	.pt_#{$i} {
		padding-top: #{$i}px
	}
	.pb_#{$i} {
		padding-bottom: #{$i}px
	}
	.pl_#{$i} {
		padding-left: #{$i}px
	}
	.pr_#{$i} {
		padding-right: #{$i}px
	}
	.pa_#{$i} {
		padding: #{$i}px
	}
	$i: $i - 5;
}

/*	**********************************************************************	*/
/*																			*/
/* 		flexbox関連															*/
/*																			*/
/*　**********************************************************************	*/
/*																			*/
/*　flexbox（コンテナ指定）　*/
.flexbox {
	display: -ms-flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
/*																*/
/*	***********************************************************	*/
/* 		flex-direction（配置方向）								*/
/*　***********************************************************	*/
/*																*/
/*　flex_row（横並び：左→右）※基本省略可　*/
.flex_row {
	-webkit-flex-direction: row;
	flex-direction: row;
}
/*　flex_row_reverse（横並び：右→左）　*/
.flex_direction_row_reverse {
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
/*　flex_column（縦並び：上→下）　*/
.flex_column {
	-webkit-flex-direction: column;
	flex-direction: column;
}
/*　flex_column-reverse（縦並び：下→上）　*/
.flex_column_reverse {
	-webkit-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
/*																*/
/*	***********************************************************	*/
/* 		flex-wrap（折り返し設定）								*/
/*　***********************************************************	*/
/*																*/
/*　flex_nowrap（折り返しなし）※基本省略可　*/
.flex_nowrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
/*　flex_wrap（折り返し）　*/
.flex_wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
/*																*/
/*	***********************************************************	*/
/* 		justify-content（水平方向の揃え方）						*/
/*　***********************************************************	*/
/*																*/
/*　flex_justify_start（横配置：左揃え｜縦配置：上揃え）※基本省略可　*/
.flex_justify_start {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
/*　flex_justify_end（横配置：右揃え｜縦配置：下揃え）　*/
.flex_justify_end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
/*　flex_justify_center（中央揃え）　*/
.flex_justify_center {
	-webkit-justify-content: center;
	justify-content: center;
}
/*　flex_justify_space_between（均等に間隔を空ける）　*/
.flex_justify_space_between {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
/*　flex_justify_space_around（均等に間隔を空ける＋両端にも半分ずつの間隔を空ける）　*/
.flex_justify_space_around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
/*																*/
/*	***********************************************************	*/
/* 		align-items（垂直方向の揃え方）							*/
/*　***********************************************************	*/
/*																*/
/*　flex_align_items_start（横配置：上揃え｜縦配置：左揃え）※基本省略可　*/
.flex_align_items_start {
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
/*　flex_align_items_end（横配置：下揃え｜縦配置：右揃え）　*/
.flex_align_items_end {
	-webkit-align-items: flex-end;
	align-items: flex-end;
}
/*　flex_align_items_center（中央揃え）　*/
.flex_align_items_center {
	-webkit-align-items: center;
	align-items: center;
}
/*　flex_align_items_baseline（ベースラインで揃える）　*/
.flex_align_items_baseline {
	-webkit-align-items: baseline;
	align-items: baseline;
}
/*　flex_align_items_stretch（親アイテムに高さ指定がある：上下一杯まで広げる｜親アイテムに高さ指定がない：一番高いアイテムに合わせて広げる）　*/
.flex_align_items_stretch {
	-webkit-align-items: stretch;
	align-items: stretch;
}
/*																*/
/*	***********************************************************	*/
/* 		align-content（複数行の垂直方向の揃え方）				*/
/*　***********************************************************	*/
/*																*/
/*　flex_align_content_start（横配置：上揃え｜縦配置：左揃え）※基本省略可　*/
.flex_align_content_start {
	-webkit-align-content: flex-start;
	align-content: flex-start;
}
/*　flex_align_content_end（横配置：下揃え｜縦配置：右揃え）　*/
.flex_align_content_end {
	-webkit-align-content: flex-end;
	align-content: flex-end;
}
/*　flex_align_content_center（中央揃え）　*/
.flex_align_content_center {
	-webkit-align-content: center;
	align-content: center;
}
/*　flex_align_content_space_between（均等に間隔を空ける）　*/
.flex_align_content_space_between {
	-webkit-align-content: space-between;
	align-content: space-between;
}
/*　flex_align_content_space_around（均等に間隔を空ける＋上下にも半分ずつの間隔を空ける）　*/
.flex_align_content_space_around {
	-webkit-align-content: space-around;
	align-content: space-around;
}
