@charset "UTF-8";
/*css読み込み*/
html, body {
  height: 100%; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%; }

/*初期設定*/
* {
  margin: 0;
  padding: 0;
  font-family: "メイリオ", Meiryo, "KozGoPro-Light", "小塚ゴシック Pro L", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, sans-serif; }

/* margin,padding */
.mt_100 {
  margin-top: 100px; }

.mb_100 {
  margin-bottom: 100px; }

.ml_100 {
  margin-left: 100px; }

.mr_100 {
  margin-right: 100px; }

.ma_100 {
  margin: 100px; }

.pt_100 {
  padding-top: 100px; }

.pb_100 {
  padding-bottom: 100px; }

.pl_100 {
  padding-left: 100px; }

.pr_100 {
  padding-right: 100px; }

.pa_100 {
  padding: 100px; }

.mt_95 {
  margin-top: 95px; }

.mb_95 {
  margin-bottom: 95px; }

.ml_95 {
  margin-left: 95px; }

.mr_95 {
  margin-right: 95px; }

.ma_95 {
  margin: 95px; }

.pt_95 {
  padding-top: 95px; }

.pb_95 {
  padding-bottom: 95px; }

.pl_95 {
  padding-left: 95px; }

.pr_95 {
  padding-right: 95px; }

.pa_95 {
  padding: 95px; }

.mt_90 {
  margin-top: 90px; }

.mb_90 {
  margin-bottom: 90px; }

.ml_90 {
  margin-left: 90px; }

.mr_90 {
  margin-right: 90px; }

.ma_90 {
  margin: 90px; }

.pt_90 {
  padding-top: 90px; }

.pb_90 {
  padding-bottom: 90px; }

.pl_90 {
  padding-left: 90px; }

.pr_90 {
  padding-right: 90px; }

.pa_90 {
  padding: 90px; }

.mt_85 {
  margin-top: 85px; }

.mb_85 {
  margin-bottom: 85px; }

.ml_85 {
  margin-left: 85px; }

.mr_85 {
  margin-right: 85px; }

.ma_85 {
  margin: 85px; }

.pt_85 {
  padding-top: 85px; }

.pb_85 {
  padding-bottom: 85px; }

.pl_85 {
  padding-left: 85px; }

.pr_85 {
  padding-right: 85px; }

.pa_85 {
  padding: 85px; }

.mt_80 {
  margin-top: 80px; }

.mb_80 {
  margin-bottom: 80px; }

.ml_80 {
  margin-left: 80px; }

.mr_80 {
  margin-right: 80px; }

.ma_80 {
  margin: 80px; }

.pt_80 {
  padding-top: 80px; }

.pb_80 {
  padding-bottom: 80px; }

.pl_80 {
  padding-left: 80px; }

.pr_80 {
  padding-right: 80px; }

.pa_80 {
  padding: 80px; }

.mt_75 {
  margin-top: 75px; }

.mb_75 {
  margin-bottom: 75px; }

.ml_75 {
  margin-left: 75px; }

.mr_75 {
  margin-right: 75px; }

.ma_75 {
  margin: 75px; }

.pt_75 {
  padding-top: 75px; }

.pb_75 {
  padding-bottom: 75px; }

.pl_75 {
  padding-left: 75px; }

.pr_75 {
  padding-right: 75px; }

.pa_75 {
  padding: 75px; }

.mt_70 {
  margin-top: 70px; }

.mb_70 {
  margin-bottom: 70px; }

.ml_70 {
  margin-left: 70px; }

.mr_70 {
  margin-right: 70px; }

.ma_70 {
  margin: 70px; }

.pt_70 {
  padding-top: 70px; }

.pb_70 {
  padding-bottom: 70px; }

.pl_70 {
  padding-left: 70px; }

.pr_70 {
  padding-right: 70px; }

.pa_70 {
  padding: 70px; }

.mt_65 {
  margin-top: 65px; }

.mb_65 {
  margin-bottom: 65px; }

.ml_65 {
  margin-left: 65px; }

.mr_65 {
  margin-right: 65px; }

.ma_65 {
  margin: 65px; }

.pt_65 {
  padding-top: 65px; }

.pb_65 {
  padding-bottom: 65px; }

.pl_65 {
  padding-left: 65px; }

.pr_65 {
  padding-right: 65px; }

.pa_65 {
  padding: 65px; }

.mt_60 {
  margin-top: 60px; }

.mb_60 {
  margin-bottom: 60px; }

.ml_60 {
  margin-left: 60px; }

.mr_60 {
  margin-right: 60px; }

.ma_60 {
  margin: 60px; }

.pt_60 {
  padding-top: 60px; }

.pb_60 {
  padding-bottom: 60px; }

.pl_60 {
  padding-left: 60px; }

.pr_60 {
  padding-right: 60px; }

.pa_60 {
  padding: 60px; }

.mt_55 {
  margin-top: 55px; }

.mb_55 {
  margin-bottom: 55px; }

.ml_55 {
  margin-left: 55px; }

.mr_55 {
  margin-right: 55px; }

.ma_55 {
  margin: 55px; }

.pt_55 {
  padding-top: 55px; }

.pb_55 {
  padding-bottom: 55px; }

.pl_55 {
  padding-left: 55px; }

.pr_55 {
  padding-right: 55px; }

.pa_55 {
  padding: 55px; }

.mt_50 {
  margin-top: 50px; }

.mb_50 {
  margin-bottom: 50px; }

.ml_50 {
  margin-left: 50px; }

.mr_50 {
  margin-right: 50px; }

.ma_50 {
  margin: 50px; }

.pt_50 {
  padding-top: 50px; }

.pb_50 {
  padding-bottom: 50px; }

.pl_50 {
  padding-left: 50px; }

.pr_50 {
  padding-right: 50px; }

.pa_50 {
  padding: 50px; }

.mt_45 {
  margin-top: 45px; }

.mb_45 {
  margin-bottom: 45px; }

.ml_45 {
  margin-left: 45px; }

.mr_45 {
  margin-right: 45px; }

.ma_45 {
  margin: 45px; }

.pt_45 {
  padding-top: 45px; }

.pb_45 {
  padding-bottom: 45px; }

.pl_45 {
  padding-left: 45px; }

.pr_45 {
  padding-right: 45px; }

.pa_45 {
  padding: 45px; }

.mt_40 {
  margin-top: 40px; }

.mb_40 {
  margin-bottom: 40px; }

.ml_40 {
  margin-left: 40px; }

.mr_40 {
  margin-right: 40px; }

.ma_40 {
  margin: 40px; }

.pt_40 {
  padding-top: 40px; }

.pb_40 {
  padding-bottom: 40px; }

.pl_40 {
  padding-left: 40px; }

.pr_40 {
  padding-right: 40px; }

.pa_40 {
  padding: 40px; }

.mt_35 {
  margin-top: 35px; }

.mb_35 {
  margin-bottom: 35px; }

.ml_35 {
  margin-left: 35px; }

.mr_35 {
  margin-right: 35px; }

.ma_35 {
  margin: 35px; }

.pt_35 {
  padding-top: 35px; }

.pb_35 {
  padding-bottom: 35px; }

.pl_35 {
  padding-left: 35px; }

.pr_35 {
  padding-right: 35px; }

.pa_35 {
  padding: 35px; }

.mt_30 {
  margin-top: 30px; }

.mb_30 {
  margin-bottom: 30px; }

.ml_30 {
  margin-left: 30px; }

.mr_30 {
  margin-right: 30px; }

.ma_30 {
  margin: 30px; }

.pt_30 {
  padding-top: 30px; }

.pb_30 {
  padding-bottom: 30px; }

.pl_30 {
  padding-left: 30px; }

.pr_30 {
  padding-right: 30px; }

.pa_30 {
  padding: 30px; }

.mt_25 {
  margin-top: 25px; }

.mb_25 {
  margin-bottom: 25px; }

.ml_25 {
  margin-left: 25px; }

.mr_25 {
  margin-right: 25px; }

.ma_25 {
  margin: 25px; }

.pt_25 {
  padding-top: 25px; }

.pb_25 {
  padding-bottom: 25px; }

.pl_25 {
  padding-left: 25px; }

.pr_25 {
  padding-right: 25px; }

.pa_25 {
  padding: 25px; }

.mt_20 {
  margin-top: 20px; }

.mb_20 {
  margin-bottom: 20px; }

.ml_20 {
  margin-left: 20px; }

.mr_20 {
  margin-right: 20px; }

.ma_20 {
  margin: 20px; }

.pt_20 {
  padding-top: 20px; }

.pb_20 {
  padding-bottom: 20px; }

.pl_20 {
  padding-left: 20px; }

.pr_20 {
  padding-right: 20px; }

.pa_20 {
  padding: 20px; }

.mt_15 {
  margin-top: 15px; }

.mb_15 {
  margin-bottom: 15px; }

.ml_15 {
  margin-left: 15px; }

.mr_15 {
  margin-right: 15px; }

.ma_15 {
  margin: 15px; }

.pt_15 {
  padding-top: 15px; }

.pb_15 {
  padding-bottom: 15px; }

.pl_15 {
  padding-left: 15px; }

.pr_15 {
  padding-right: 15px; }

.pa_15 {
  padding: 15px; }

.mt_10 {
  margin-top: 10px; }

.mb_10 {
  margin-bottom: 10px; }

.ml_10 {
  margin-left: 10px; }

.mr_10 {
  margin-right: 10px; }

.ma_10 {
  margin: 10px; }

.pt_10 {
  padding-top: 10px; }

.pb_10 {
  padding-bottom: 10px; }

.pl_10 {
  padding-left: 10px; }

.pr_10 {
  padding-right: 10px; }

.pa_10 {
  padding: 10px; }

.mt_5 {
  margin-top: 5px; }

.mb_5 {
  margin-bottom: 5px; }

.ml_5 {
  margin-left: 5px; }

.mr_5 {
  margin-right: 5px; }

.ma_5 {
  margin: 5px; }

.pt_5 {
  padding-top: 5px; }

.pb_5 {
  padding-bottom: 5px; }

.pl_5 {
  padding-left: 5px; }

.pr_5 {
  padding-right: 5px; }

.pa_5 {
  padding: 5px; }

/*	**********************************************************************	*/
/*																			*/
/* 		flexbox関連															*/
/*																			*/
/*　**********************************************************************	*/
/*																			*/
/*　flexbox（コンテナ指定）　*/
.flexbox {
  display: -ms-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/*																*/
/*	***********************************************************	*/
/* 		flex-direction（配置方向）								*/
/*　***********************************************************	*/
/*																*/
/*　flex_row（横並び：左→右）※基本省略可　*/
.flex_row {
  -webkit-flex-direction: row;
  flex-direction: row; }

/*　flex_row_reverse（横並び：右→左）　*/
.flex_direction_row_reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse; }

/*　flex_column（縦並び：上→下）　*/
.flex_column {
  -webkit-flex-direction: column;
  flex-direction: column; }

/*　flex_column-reverse（縦並び：下→上）　*/
.flex_column_reverse {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse; }

/*																*/
/*	***********************************************************	*/
/* 		flex-wrap（折り返し設定）								*/
/*　***********************************************************	*/
/*																*/
/*　flex_nowrap（折り返しなし）※基本省略可　*/
.flex_nowrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

/*　flex_wrap（折り返し）　*/
.flex_wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

/*																*/
/*	***********************************************************	*/
/* 		justify-content（水平方向の揃え方）						*/
/*　***********************************************************	*/
/*																*/
/*　flex_justify_start（横配置：左揃え｜縦配置：上揃え）※基本省略可　*/
.flex_justify_start {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

/*　flex_justify_end（横配置：右揃え｜縦配置：下揃え）　*/
.flex_justify_end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

/*　flex_justify_center（中央揃え）　*/
.flex_justify_center {
  -webkit-justify-content: center;
  justify-content: center; }

/*　flex_justify_space_between（均等に間隔を空ける）　*/
.flex_justify_space_between {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

/*　flex_justify_space_around（均等に間隔を空ける＋両端にも半分ずつの間隔を空ける）　*/
.flex_justify_space_around {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

/*																*/
/*	***********************************************************	*/
/* 		align-items（垂直方向の揃え方）							*/
/*　***********************************************************	*/
/*																*/
/*　flex_align_items_start（横配置：上揃え｜縦配置：左揃え）※基本省略可　*/
.flex_align_items_start {
  -webkit-align-items: flex-start;
  align-items: flex-start; }

/*　flex_align_items_end（横配置：下揃え｜縦配置：右揃え）　*/
.flex_align_items_end {
  -webkit-align-items: flex-end;
  align-items: flex-end; }

/*　flex_align_items_center（中央揃え）　*/
.flex_align_items_center {
  -webkit-align-items: center;
  align-items: center; }

/*　flex_align_items_baseline（ベースラインで揃える）　*/
.flex_align_items_baseline {
  -webkit-align-items: baseline;
  align-items: baseline; }

/*　flex_align_items_stretch（親アイテムに高さ指定がある：上下一杯まで広げる｜親アイテムに高さ指定がない：一番高いアイテムに合わせて広げる）　*/
.flex_align_items_stretch {
  -webkit-align-items: stretch;
  align-items: stretch; }

/*																*/
/*	***********************************************************	*/
/* 		align-content（複数行の垂直方向の揃え方）				*/
/*　***********************************************************	*/
/*																*/
/*　flex_align_content_start（横配置：上揃え｜縦配置：左揃え）※基本省略可　*/
.flex_align_content_start {
  -webkit-align-content: flex-start;
  align-content: flex-start; }

/*　flex_align_content_end（横配置：下揃え｜縦配置：右揃え）　*/
.flex_align_content_end {
  -webkit-align-content: flex-end;
  align-content: flex-end; }

/*　flex_align_content_center（中央揃え）　*/
.flex_align_content_center {
  -webkit-align-content: center;
  align-content: center; }

/*　flex_align_content_space_between（均等に間隔を空ける）　*/
.flex_align_content_space_between {
  -webkit-align-content: space-between;
  align-content: space-between; }

/*　flex_align_content_space_around（均等に間隔を空ける＋上下にも半分ずつの間隔を空ける）　*/
.flex_align_content_space_around {
  -webkit-align-content: space-around;
  align-content: space-around; }
